
<div class="text-center">
    <h1 class="display-4">WelCome</h1>
    @* <div style="background-color:aqua">
    <h3 style="color:red">This is div</h3>
    </div> *@
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>The time on this site right now is @DateTime.Now</p>
</div>
